/* links */
a {
	color: $dark-color;
	text-decoration: none;
	transition: 0.3s color, 0.3s background-color, 0.3s border;
  
	&:hover {
		color: $accent-color;
	}
}

/* headings */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	margin: 0;
	color: $dark-color;
}

h2, .h2 {
	font-size: 35px;
}

h3, .h3 {
	font-size: 25px;
}

/* paragraphs */

p {
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 10px;
}
