$dark-color: #333;
$medium-dark-color: #777;
$medium-color: #aaa;
$medium-light-color: #ccc;
$light-color: #f7f7f7;
$accent-color: #5acdc5;
$accent-color-hover: #21b6a8;
$header-footer-color: #262f3c;

$font-stack: 'Lato', sans-serif;
